
.pagination-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    -webkit-box-pack: center;
    margin: 0 auto;
    padding: 0;
}

.pagination-list li {
    margin: 0 6px;
}

.pagination-link {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #303030;
    width: 36px;
    height: 36px;
    border: 1px solid #505050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pagination-link:hover {
    background-color: #9a1750;
    color: #ffffff;
    border: 1px solid #9a1750;
}